[submodule "External/double-conversion"]
    path = Source/External/double-conversion/double-conversion.git
    url = https://github.com/google/double-conversion.git
    method = rebase
[submodule "External/farmhash"]
    path = Source/External/farmhash/farmhash.git
    url = https://github.com/google/farmhash.git
    method = rebase
[submodule "External/lz4"]
    path = Source/External/lz4/lz4.git
    url = https://github.com/lz4/lz4.git
    branch = HEAD
    method = rebase
[submodule "External/stb"]
    path = Source/External/stb/stb.git
    url = https://github.com/nothings/stb.git
    method = rebase
[submodule "External/xxHash"]
    path = Source/External/xxHash/xxHash.git
    url = https://github.com/Cyan4973/xxHash.git
    branch = HEAD
    method = rebase
[submodule "External/vulkan"]
    path = Source/External/vulkan/Vulkan-Header.git
    url = https://github.com/KhronosGroup/Vulkan-Headers.git
    method = rebase
[submodule "External/vma"]
    path = Source/External/vma/vma.git
    url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
    method = rebase
[submodule "Source/External/spirv-cross/SPIRV-Cross.git"]
	path = Source/External/spirv-cross/SPIRV-Cross.git
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Source/External/glsl_trace/glsl_trace.git"]
	path = Source/External/glsl_trace/glsl_trace.git
	url = https://github.com/poppolopoppo/glsl_trace.git
[submodule "Source/External/spirv-reflect/SPIRV-Reflect.git"]
	path = Source/External/spirv-reflect/SPIRV-Reflect.git
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "Source/External/spirv-headers/SPIRV-Headers.git"]
	path = Source/External/spirv-headers/SPIRV-Headers.git
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "Source/External/imgui/imgui.git"]
	path = Source/External/imgui/imgui.git
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Source/External/minhook/minhook.git"]
	path = Source/External/minhook/minhook.git
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "Source/External/detours/detours.git"]
	path = Source/External/detours/detours.git
	url = https://github.com/microsoft/Detours.git
[submodule "Build"]
	path = Build
	url = https://github.com/poppolopoppo/ppb
