#include "resource.h"

// ICONS
IDI_APP_ICON				ICON	"..\\..\\Data\\Icons\\App.ico"
IDI_ERROR_ICON				ICON    "..\\..\\Data\\Icons\\Error.ico"
IDI_INFO_ICON				ICON    "..\\..\\Data\\Icons\\Info.ico"
IDI_WARNING_ICON			ICON    "..\\..\\Data\\Icons\\Warning.ico"
